.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.header{
  /*background-color:#26d0c9;*/
  background-color:rgba(0,0,0,0.8);
  color:#fff;
  height:100px;
  width:100%;
  position:fixed;
  z-index:1;
}

.header-logo{
  float:left;
  font-size:50px;
  padding:13px 40px;
}

.header-list li{
  float:left;
  font-size:20px;
  list-style:none;
  padding: 30px 20px;
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}

.overlay.open {
  width: 100%;
  height: 180%;
  position:fixed;
  opacity: 1;
}

.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 2.5em;
  right: 3em;
  z-index: 100;
  transform:translateX(0);
}
.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFF;
  transition: all .5s;
}
.menu-trigger.active {
  transform: translateX(-150px);
}
.menu-trigger.active span {
  background-color: #FFF;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
  top: 12px;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgb(100, 100, 100, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
nav.open {
  transform: translateZ(0);
}
nav li {
  color: #fff;
  text-align:left;
  list-style: none;
  padding: 10px 0;
  font-size:1.8em;
}

.jumbotron-extend{
  position:relative;
  height:100vh;
  width:105%;
  right:2.5%;
  min-height:300px;
  background:url(back.jpg)no-repeat center center;
  background-size:cover;
  z-index: 0;
  margin-bottom: 0px;
}

.jumbotron-extend::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.site-name {
    color:#FFFFFF !important;
    margin-bottom: 0px;
    text-align:center;
    margin-top:5em;
    font-size:3em;
    font-family: 'Playfair Display', serif;
}

.sub-name{
  color:#FFFFFF !important;
  font-size:3rem;
  text-align:center;
  font-family: 'Playfair Display', serif;
}

.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}

.btn-black:hover {
     background-color: #fff;
     color: #000;
}

.btn-start{
  text-align: center;
  position: relative;
  top:150px;
}

.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.0em 0.1em;
  font-size:2.5em;
  text-decoration: none;
  color: #FFF;
  background: orange;
  transition: .4s;
  width:120px;
  height:50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn-flat-logo:hover {
  background: darkorange;
}

.footer{
  background-color:black;
  position:relative;
  color:#fff;
  height:120px;
  width:100%;
  padding:0px 20px;
  margin-top: 0px;
  z-index: -2;
}

.footer-logo{
  float:left;
  font-size:32px;
}

.footer-list{
  float:right;
  padding-top: 10px;
}

.footer-list li{
  padding-top: 10px;
  padding-bottom:0px;
}

/*自己紹介*/

.introduce{
  font-family:sans-serif;
  font-size: 2em;
}

h2:not([class="sub-name"]) {
  margin-top: 30px;
  margin-left: 20px;
  padding: 0.5em;/*文字周りの余白*/
  color: #333;/*文字色*/
  background: #f7f7f7;;/*背景色*/
  padding:20px 15px 18px;
  width:500px;
  border-left: solid 9px #4865b2;/*左線（実線 太さ 色）*/
  line-height:30px;
}

.easy_intro{
  margin-top: 120px !important;
}

.intro-p{
  margin-left:2em;
}

.book_box {
    padding: 0.5em 0.5em;
    margin: 1em 1em;
    border: double 5px #4ec4d3;
    width: 500px;
    height:250px;
}
.book_box p {
    margin: 0;
    padding: 0;
    font-size:0.5em;
}

.book-img{
  position:relative;
  height:200px;
  width:150px;
  margin-right:1em;
  padding-right:0;
  float:left;
}

.shoplinkamazon a{
  color:#FF9901 ;
  border: 2px solid #FF9901;
  padding:5px;
  border-radius:10px;
  font-size:0.7em;
  float:;
}

.footer_intro{
  min-width:550px;
}
