body{
  font-family:"Avenir Next";
}

li{
  list-style:none;
}

.header{
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}

.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px;
}

.header-list li{
  float:left;
  padding: 33px 20px;
}

.main{
  padding-left:80px;
  padding-right:80px;
}

.copy-container h1{
  font-size:75px;
  padding-top:30px;
}

.copy-container h2{
  font-size:50px;
}

.copy-container span{
  color:#ff4a4a;
}

.contact-form{
  padding-top:100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

input,textarea{
  width:300px;
  margin-bottom:20px;
  margin-top:8px;
  padding:15px;
  font-size:8px;
  border:1px solid #dee7ec;
}

.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}

.footer{
  background-color:#2f5167;
  color:#fff;
  height:120px;
  padding:40px;
}

.footer-logo{
  float:left;
  font-size:32px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom:20px;
}
